# Python venv
.venv/
venv/

# OS / IDE
.DS_Store
.idea/
.vscode/

# Downloads & outputs
downloads_combined/
combined_debug_log.txt
combined_metadata_output.json
*.mp4
*.m3u8

# Playwright / Selenium artifacts
playwright/.cache/
